header {
    display: flex;
    justify-content: space-between;
    background-color: #303233;
    border-bottom: 10px solid black;
    padding : 10px 20px;
}


a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    
}

a::before {
    content: "";
    background-color: #5F92B7;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button::before {
    margin : 0;
    width: 0;
    height: 0;
}

#button:hover {
    background-color: rgb(179, 179, 179) ;
    transform: scale(1.05);
}

#button { 
    display: inline-block;
    color: black;
    background-color: whitesmoke;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0px;
    transition: all 200ms ease;
}