.arrow-btn {
    height: 50px;
    width: 50px;
    background-color: #8D4998;
    box-shadow: 5px 5px 0px #000;
    cursor : pointer;
    outline: none;

}

.arrow-btn .content {
    display: none;
}

.arrow-btn::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 15px solid transparent;
    border-left: 28px solid white;
    transform: translateX(6px);
}

.arrow-btn.-left::before{
    transform: rotate(180deg) translateX(12px);
}


