.banner {
    background-image: url(../../assets/img/photo.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid #6C9EEA;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}

.banner .box {
    margin-bottom: 40px;
}
