#box {
    display: inline-block;
    background-color: rgba(165, 166, 246, 0.60);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 42px 44px;

}

#box h1 {
    margin-bottom: 28px;
}