.main-section {
    background-color: #303233;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
}

.main-section .main-title {
    margin-bottom: 60px;
}


.main-section.-purple {
    background-color: #8D4998;
    border-bottom: 10px solid #A5A6F6
}
