.main-banner {
    background-image: url(../../assets/img/4.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid #6C9EEA;
    background-position: top;
    display: flex;
    align-items: top;
    justify-content: center;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}

.main-banner .main-box {
    margin-bottom: 40px;
}

.main-banner .wrapper {
    padding-top: 180px;
}