.main-btn:hover {
    background-color: rgb(179, 179, 179) ;
    transform: scale(1.05);
}

.main-btn { 
    display: inline-block;
    color: #000;
    background-color: whitesmoke;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0px;
    transition: all 200ms ease;
    font-size: 20px;
    text-decoration: none;

}


.main-btn.-withicon {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 60px;

}

.main-btn.-withicon img {
    width: 32px;
    height: 32px;
    margin-left: 5px;

}