.main-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin-bottom: 20px;
    height: 280px;
    background-color: #6a57bf;
    box-shadow: 10px 10px 0px #FFF;
}

.main-project.-dark-gray {
    background-color: rgb(41, 40, 40);
}

.main-project.-green {
    background-color: #73a59a;
}

.main-project img {
    width: 256px;
    height: 256px;
}