.main-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 280px;
    background-color: #6a57bf;
    box-shadow: 10px 10px 0px #FFF;
}

.main-project.-white {
    border: 5px solid black;
    background-color: #FFF;
}